@model IEnumerable<gymApp.Models.Klient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameKlient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heightKlient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weightKlient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kolkuPatiMesecno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonskiBrojKlient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressKlient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clenskaKartaKlient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameKlient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heightKlient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weightKlient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kolkuPatiMesecno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonskiBrojKlient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressKlient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clenskaKartaKlient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
